/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/glchess.desktop
/glchess.desktop.in
/org.gnome.gnome-chess.gschema.valid
/so_locations
/tags
