/*.bak
/*.log
/*.o
/*.orig
/*.rej
/*.tab.c
/*.trs
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/3ds.c
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/ai-profile.c
/chess-bitboard.c
/chess-clock.c
/chess-engine-cecp.c
/chess-engine-uci.c
/chess-engine.c
/chess-game.c
/chess-pgn.c
/chess-scene.c
/chess-view-2d.c
/chess-view-3d.c
/chess-view.c
/gnome-chess
/gnome-chess.c
/gnome_chess_vala.stamp
/so_locations
/tags
/test-chess-game
/test-chess-game.c
/test-chess-game.log
/test-chess-game.trs
/test-chess-pgn
/test-chess-pgn.c
/test-chess-pgn.log
/test-chess-pgn.trs
/test-suite.log
/test_chess_game_vala.stamp
/test_chess_pgn_vala.stamp
